.app {
  max-width: 48rem;
  margin: 0 auto;
  padding: var(--space-xxl) var(--space-lg);
  display: grid;
  gap: var(--space-lg);
}

.controls-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.controls-row label {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-medium);
}
